{% extends 'base.html.twig' %}

{% block body %}
<h1>Arrinera Hussarya</h1>
 <article>
 	<p>
Supersamochód skonstruowany przez polską firmę Arrinera Automotive.<br/>
Nazwa Hussarya odnosi się do siedemnastowiecznej polskiejkawalerii.
	</p>
	<p>
Prace projektowe nad pierwszym polskim supersamochodem rozpoczęto w drugiej dekadzie XXI wieku. <br/>
Pierwszy prototyp pojazdu zaprezentowano akcjonariuszom i inwestorom firmy Arrinera 9 czerwca 2011roku, <br/>
natomiast pierwsza jazda próbna odbyła się miesiąc wcześniej − 17 maja 2011 roku.
	</p>	
 </article>
{% endblock %}
