{% extends 'base.html.twig' %}

{% block body %}
<h1>Bugatti 16.4 Veyron</h1>
 <article>
 	<p>
Supersamochód produkowany od 2005 roku przez niemiecki koncern Volkswagen AG pod marką Bugatti. 
Najszybszy i jeden z najdroższych samochodów supersportowych na świecie. 
Pojazd nazwany został Veyron na cześć kierowcy wyścigowego Pierre'a Veyrona, 
który ścigajac się dla firmy Bugatti wygrał 24-godzinny wyścig Le Mans w 1939 roku.
        </P>	
 </article>
{% endblock %}
