{% extends 'base.html.twig' %}

{% block body %}
<h1>Ferrari Enzo</h1>
 <article>
 	<h2>Krótki opis: </h2>
 	<p>
 		Ferrari Enzo – samochód produkowany przez włoską firmę Ferrari, zaprezentowany podczas Międzynarodowych Targów Paryskich w 2003 roku. Został nazwany na cześć założyciela firmy Enzo Ferrariego. Koncern Ferrari planował zaprezentować nowy model w 2007 roku, który tym razem miał zostać nazwany F60, jednak plany się nie spełniły. Enzo było testowane na włoskim owalnym torze w Nardo gdzie osiągnęło prędkość wynoszącą 355 km/h, czyli o 5 km/h większą od podawanej przez producenta. Tym samym stało się siódmym po Bugatti Veyronie Super Sport (435 km/h), SSC Ultimate Aero TT (414 km/h), Bugatti Veyron (407 km/h), Koenigsegg CCR (388 km/h), McLarenie F1 (386,7 km/h) i Brabusie Rocket S (360,5 km/h) najszybszym samochodem testowanym na tym torze.
 	</p>
 </article>
{% endblock %}
