{% extends 'base.html.twig' %}

{% block body %}
<h1>Maserati 5000 GT</h1>
 <article>
 	<h2>Krótki opis: </h2>
 	<p>
 		Włoski samochód GT produkowany w latach 1959-1965 przez firmę Maserati. Charakteryzował się dwudrzwiowym nadwoziem typu coupe. Podwozie pochodziło z modelu 3500 GT, silnik zaś od 450S. Nadwozia produkowane były przez różne firmy trudniące się ich projektowaniem (np. Carrozzeria Touring, Carrozzeria Allemano, Pietro Frua, Carrozzeria Monterosa, Pininfarina, Ghia, Michelotti czy Bertone). Moc przenoszona była poprzez 5-biegową manualną skrzynię biegów na koła tylne.
 	</p>
 </article>
{% endblock %}
